In [1]:
import pandas as pd
import numpy as np

atx_zip_codes = [78610, 78613, 78617, 78641, 78652, 78653, 78660, 78664, 78681, 78701, 78702, 78703, 78704, 78705, 78712, 78717, 78719, 78721, 78722, 78723, 78724, 78725, 78726, 78727, 78728, 78729, 78730, 78731, 78732, 78733, 78734, 78735, 78736, 78737, 78738, 78739, 78741, 78742, 78744, 78745, 78746, 78747, 78748, 78749, 78750, 78751, 78752, 78753, 78754, 78756, 78757, 78758, 78759]

In [2]:
df = pd.read_csv('Crime_Reports.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Keep only the austin zip codes (this drops the NaN's, 0's and the several typos)
df = df[df['Zip Code'].isin(atx_zip_codes)]
#len(zip_df)

In [4]:
# Get only what columns we need
# Naming masked dataframe mdf to for reasons of making debugging or changing this code easier
# (Don't have to reload entire time, have original df post-drops)
mask = ['Zip Code', 'Occurred Date']
mdf = df[mask]
mdf.head()

   Zip Code Occurred Date
0   78752.0    09/14/2017
1   78701.0    10/11/2014
2   78702.0    02/11/2015
3   78759.0    10/01/2018
4   78701.0    11/23/2003

In [5]:
# Convert zip codes to integer type
mdf['Zip Code'] = mdf['Zip Code'].apply(lambda x: int(x))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
# Extract only years from date
mdf['year'] = mdf['Occurred Date'].apply(lambda d : int(d[-4:]))
mdf.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Zip Code Occurred Date  year
0     78752    09/14/2017  2017
1     78701    10/11/2014  2014
2     78702    02/11/2015  2015
3     78759    10/01/2018  2018
4     78701    11/23/2003  2003

In [7]:
# Only look at years 2009 onwards
mdf = mdf[mdf.year >= 2009]
mdf = mdf[mdf.year <= 2018]

crime_rates_df = mdf.groupby(['year','Zip Code']).count()

crime_years_df = mdf.groupby(['year']).count().drop(labels='Zip Code', axis=1).rename(columns={'Occurred Date':'Number of Crimes'})

crime_rates_df['Crime Rate'] = crime_rates_df['Occurred Date'] / crime_years_df['Number of Crimes'] * 100

crime_rates_df = crime_rates_df.rename(columns={'Occurred Date': 'Number of Crimes'})

crime_rates_df.head()

In [14]:
crime_rates_df.to_csv('atx_crime_rates_2009-2018.csv')